<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|striptags} | {/ifset}Redenge Admin v7</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link rel="stylesheet" href="{$basePath}/css/app.min.css?v=1">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="{$basePath}/js/app.min.js"></script>

	<link rel="shortcut icon" href="{$basePath}/favicon.png">
</head>
<body>

	<div id="page">

		{include header.latte}

		<div id="topMenu">
			<div class="top_menu_in">
				<div class="component">
					<div class="component_in">
						<span>
							<a n:href=":Engine:Config:default" class="btn btn-default btn-xs"><i class="fa fa-cog mr-1"></i>Nastavení engine</a>
						</span>
					</div>
				</div>
				

				<div class="loged">
					Přihlášen {*: JMENO PRIJMENI*} | <strong><a href="{$basePath}/index.php?logout" title="T_LOGOUT">Odhlásit <img src="{$basePath}/images/logout.gif" alt="Odhlásit" align="absmiddle"/></a></strong>
				</div>
				<div class="cleaner"></div>
			</div>
		</div>

		<table cellspacing="1" id="content">
			<tr>
				<td id="left">
					<div id="left_in">
						<div class="left_in">

							{control moduleMenu}

							<div class="orangepro_logo">
								<img src="{$basePath}/images/redenge-logo.gif" alt="Redenge logo" alt="Redenge logo" />
								<br>
								REDENGEengine administration tool<br>
								Created by &copy; <a href="http://www.redenge.com">Redenge</a> <br>
								<a href="mailto:support@redenge.com">Support e-mail</a>
							</div>
						</div>
					</div>
				</td>

				<td id="main" class="{$contentClass}">
					<div id="main_in">
						{snippet flashes}
							<div n:foreach="$flashes as $flash" n:class="'alert', 'alert-' . $flash->type">
								<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
								{$flash->message}
							</div>
						{/snippet}

						{ifset headline}<h1 class="lead">{include headline}</h1>{/ifset}
						{include content}
					</div>
				</td>

			</tr>
		</table>
		<div class="clearAll"></div>
	</div>

</body>
</html>