<div class="tab_master">
	<h3>
		<a href="{$bookmark->getLink()}" n:class="$bookmark->isActive() ? active : item">
			<span class="tab_master-left"></span>
				<span class="tab_master-text">
					{if $bookmark->getBefore()}
						{$bookmark->getBefore()|noescape}
					{/if}
					{$bookmark->get_Name()}
					{if $bookmark->getAfter()}
						{$bookmark->getAfter()|noescape}
					{/if}
				</span>
			<span class="tab_master-right"></span>
		</a>
	</h3>
</div>