<div class="tab__helper">
	<div class="dropdown">
		<button href="#" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown" id="tab-helper-{$helper->getCode()}">
			{if $helper->getBefore()}
				{$helper->getBefore()|noescape}
			{/if}
			{$helper->get_Name()}
			{if $helper->getAfter()}
				{$helper->getAfter()|noescape}
			{/if}
		</button>
		<div class="dropdown-menu dropdown-not-hidden dropdown-menu-right">
			{var contentGroup = $helper->getContent()}
			{foreach $contentGroup as $content}
				{if $content && is_string($content)}
					{$content|noescape}
				{elseif $content && $content instanceof Nette\Application\UI\Control}
					{control $content}
				{/if}
			{/foreach}
		</div>
	</div>

</div>

