{var content = null}
<div id="zalozky">
	{foreach $bookmarks as $bookmark}
		{control $bookmark:bookmark}
	{/foreach}
</div>

<br clear="all">
<div id="zalozka_border">
	{foreach $helpers as $helper}
		{control $helper}
	{/foreach}
	{foreach $bookmarks as $bookmark}
		{if $bookmark->isActive()}
			{control $bookmark}
			{breakIf true}
		{/if}
	{/foreach}
</div>