<div class="tab-control">
	<div class="tab-control__tab">
		{control tab}
	</div>
	<div class="tab-control__breadcrumb">
		<div class="location">
			{foreach $breadcrumb as $b}
				{$b}
				{if !$iterator->last}
					&raquo;
				{/if}
			{/foreach}
		</div>
	</div>
</div>
