/******************************* NEW ORANGE engine **************************/
html { 
	margin:0px;
	padding:0px;
	height:100%;
	font-size:0.9em;
	font-family: Tahoma, Verdana, "Geneva CE", lucida, sans-serif;
}
body {
	margin: 0px; 
	padding: 0px;
	height: 100%;
	background-color: #fff;
}
h1 {
	font-size: 200%;
}
h2, h3 {
	font-size: 17px;
	color: #000000;
	font-weight: normal;
	margin: 0px;
}
h4 {
	font-size: 120%;
}
fieldset{border:0px; margin: 0px; padding: 0px;}
p {
}
a {
	color: #000;
}
a:visited {
	color: #000;
}
a:active {
	color: #000;
}
a:link {
	color: #000;
}
a:hover {
	color: #ff4701; /*F79912*/
	text-decoration: underline;
}
input, select{
	font-size: 1.1em;
}
html>body input, html>body select{
	font-size: 1em;
}
/*input.text, textarea, select{ 
	border: 1px solid #BFD1D9;
	vertical-align: middle;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}*/
input.image{
	font-size: 1em;
	text-align: center;
/*	font-weight: bold;*/
	vertical-align: middle;
	margin: 0px 3px;
	padding: 1px;
}
img { 
	border: none;
}

th {
    border: 1px solid #aca899;
	background-color: #ece9d8;
	color: #000;
	font-size: 11px;
	vertical-align: middle;
	padding: 3px;
	font-weight: normal;
	text-align: left;
}
th.over {
    border-top: 1px solid #faf8f3;
    border-bottom: none;
    border-bottom: 1px solid #f8b31f !important;
	background: #faf8f3 url('../images/bg-th-over.gif') bottom left repeat-x;
}
table {
	font-size: 0.95em;
	border-collapse: collapse;
}

table.tab_oe, table.tab_oe2, table.category, table.tab_price{
/*	border: 1px solid white;*/
	margin-top: 10px;
}
html>body table.tab_oe, table.tab_oe2, table.category, table.tab_price{
	margin: 0px;
}
table.rt {
    width: 100%;
}
td{
    font-size: 1em;
	padding: 2px;
}
/*table.tab_oe td img, table.tab_oe2 td img{
	padding: 1px;
}*/
table.tab_oe tr, table.tab_oe2 tr, table.category tr, table.tab_price tr{
	background-color: #fcfcfd;
}
table.tab_oe2 td {
/*    font-size: 0.95em;*/
    padding: 0 0 0 5px;
	border: 1px solid #ece9d8;
	background-color: #f7f7ef;
}
/*table.tab_oe tr.over, table.tab_oe2 tr.over, table.category tr.over, table.tab_price tr.over{
	background-color: #eeede7;
}*/
table.category, table.category td, table.category tr {
  border: none;
  padding: 0;
}
table.grid_table {
	width:100%;
}
.categories {
  height: 250px;
  overflow: scroll;
  float:left;
/*  min-width: 350px;*/
  width: 100%;
}
.h500 {
  height: 500px;
}
.h300 {
  height: 300px;
}
.h200 {
  height: 200px;
}
.categories p {
  padding: 0;
  margin: -2px 0 0 0;
}
html>body .categories p {
  margin: 0;
}
html>body .categories input {
  margin: 1px 3px 0 0;
  padding: 0;
}
html>body .categories img {
  margin: 0;
  padding: 0;
  border: none;
  border-width: 0px;
}
.category-title {
  /*background-color:#33CCCC;*/
  font-weight: bold;
  margin: 3px 0 3px 0;
}
.checkbox {
	width: 15px;
	height: 15px;
}
.radio {
	width: 15px;
	height: 15px;
	border: 0px solid black;
}
/*table.tab_oe input{
	background-color: #FEF7ED;
	color: black;
	border: 0px;
}*/
.selected_action{
	width: 100%;
	border: 1px solid #aca899;
    background-color: #ece9d8;
}
.selected_action_in{
	color: #000;
/*	font-size: 0.9em;*/
    font-size: 11px;
	vertical-align: middle;
	text-align: left;
	margin-left: 3px;
	margin-right: 3px;
	padding: 8px;
	margin-bottom: 0px;
}

/************** MAIN STYLES ********************/
#page {
	position: relative;
	top: 0; 
	left: 0;
	height:100%;
	margin: 0;
	padding: 0;
	border: 1px solid #eee;
	text-align:left;
	background-color: white;
}

.schovat {
	display: none;
}

/******* HEADER *********/
#header {
    position:relative;
    background: #771f14 url('../images/v-header-bg.jpg') top left no-repeat;
	width: 100%;
    height: 43px;
}
#logo {
	position: absolute; 
	top: 9px;
	left: 10px;
	z-index: 3;
}
/****** BUTTON SET *********/
	
a#nastaveni {	
	background: url(../images/b_nastaveni.gif) no-repeat;
	margin: 5px 10px 0px 0px;
	float: right;
	display: block; 
	width: 80px; 
	height: 12px; 
}
a:hover#nastaveni {	background: url(../images/b_nastaveni-over.gif) no-repeat; }

/****** BUTTON HELP *********/
a#napoveda { 
	background: url(../images/b_napoveda.gif) no-repeat;
	margin: 5px 5px 0px 0px;
	float: right;
	display: block; 
	width: 75px; 
	height: 12px; 
}
a:hover#napoveda { background: url(../images/b_napoveda-over.gif) no-repeat; }

/* Pole s pøihlášeným uživatelem a možností odhlásit se */

/* Obrázek šipky u tlacítka "Odhlášení" */
#odhlaseniIco {
	background: url(../images/b_odhlaseni.gif) no-repeat;
	width: 12px;
	height: 11px;
	float: right;
	margin: 1px 3px 0px 0px;
}

/* Horní menu s názvem sekce a ikonami */
#topMenu {
	position: relative;
	height: 39px;
	padding-top: 4px;
	width: 100%;
	background: url('../images/hel-top-menu-bg.gif') top left repeat-x;
}
.top_menu_in{
	/*padding: 2px;*/
}
.top_menu_in form, .top_menu_in fieldset {
    display: inline !important;
}
.component {
	float: left;
	padding: 2px;
	margin-left: 5px;
}
.component span, .component form, .component fieldset {
    float: left;
    display: block;
/*    width: 73px;*/
    margin-right: 15px;
    line-height: 1em;
    height: 33px;
    font-size: 0.85em;
    text-align:center;
}
.component a, .component a:visited, .component a:hover {
    font-size: 0.9em;
    text-decoration: none;
}
.loged{
	float: right;
	padding: 6px 2px 2px 2px;
	color: black;
	font-size: 0.75em;
}
.loged img{
	border: 0px;
}
.loged a:link, .loged a:visited, .loged a:active, .loged a:hover{
	color: black;
	text-decoration: none;
}
/* Název sekce */
#topMenu h2 { position: absolute; top: 90px; left: 15px; }

/* Ikony v horním menu */
button.menuIco {
	display: block;
	float: right;
	margin: 2px;
	padding-top: 23px;
	width: 60px;
	border: none;
}
button.menuIcoHover {
	display: block;
	float: right;
	margin: 2px;
	padding-top: 23px;
	width: 60px;
	border: none;
	color: red;
}
/*
a.menuIco {
	display: block;
	float: right;
	color: black;
	margin: 3px 20px 0px 0px;
	padding-top: 23px;
	text-decoration: none;
	font-size: 10px;
}
a:hover.menuIco {	color: #e03605; text-decoration: none; }
*/
#novyIco { background: url(../images/b_novy.gif) no-repeat top center; }
#ulozitIco { background: url(../images/b_ulozit.gif) no-repeat top center; }
#smazatIco { background: url(../images/b_smazat.gif) no-repeat top center; }
#seznamIco { background: url(../images/b_seznam.gif) no-repeat top center; }
#nahledIco { background: url(../images/b_nahled.gif) no-repeat top center; }
#odeslatIco { background: url(../images/b_odeslat.gif) no-repeat top center; }
#zrusitIco { background: url(../images/b_zrusit.gif) no-repeat top center; }
#statIco { background: url(../images/b_statistiky.gif) no-repeat top center; }
#exportIco { background: url(../images/b_export.gif) no-repeat top center; }

/******** LEFT MENU ********/
#left {
	width: 20%;
	height:100%;
	background-color: #ffffff; /*fafafa*/
	vertical-align:top;
	margin: 0px;
	padding: 0px;
}
#left .item {
	display: block;
	width: 100%;
	text-decoration: none;
	font-size: 0.95em;
	color: #000;
	background: url('../images/hel-menu-li2.gif') 2% 50% no-repeat;
	padding-left: 18px;
}
#left :hover.item {
	display: block;
	width: 100%;
	text-decoration: none;
	background: url('../images/hel-menu-li2.gif') 2% 50% no-repeat;
    color: #00f;
	font-size: 0.95em;
}

#left .imitem {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #CC3333;
	background-color: #ffd2d2;
	border-bottom: 1px solid white;
	font-size: 10px;
	font-weight: bold;
}

#left .caption {
	display: block;
	width: 100%;
	color: #0066CC;
	background-color: #F1F4F8;
	border-bottom: 1px solid white;
	font-size: 10pt;
	font-weight: bold;
}

/*#left .item { background-color: #ff0; }*/

#left * span {
	padding: 4px 0px 4px 15px;
	display: block;
}

#left #copyright {
	padding: 40px 4px 4px 15px;
	font-size: 10px;
	color: gray;
}

#left h2 {
	margin: 15px 0px 0px 15px;
}

#left #novinky {
	margin: 15px;
	width: auto;
}

#left .datum {
	color: #1b80d1;
	font-weight: bold;
}

/* Hlavní pole pro obsah vpravo od levého menu */
#main {
	padding: 10px 10px 10px 17px;
	background: #ece9d8 url('../images/bg-main.gif') top left repeat-y;
	width:80%;
	vertical-align:top;
}

/* Obecné tlaèítko */
button{
	display: inline;
}
/*button, input.submit {
	border-bottom: 1px solid #b94500;
	border-left: 1px solid #ffc8a6;
	border-right: 1px solid #b94500;
	border-top: 1px solid #ffc8a6;
	background-color: #F79912;
	color: #fff;
	font-family: Verdana, "Geneva CE", lucida, sans-serif;
	font-size: 1em;
	text-align: center;
	font-weight: bold;*/
/*	cursor: pointer;
	cursor: hand;*/
	/*vertical-align: middle;
	margin-right: 3px;
	padding: 1px;
}
*/
/* Zvláštní tlaèítko */
button.specButt {
	border-bottom: 1px solid #1b80d1;
	border-left: 1px solid #dbedfb;
	border-right: 1px solid #1b80d1;
	border-top: 1px solid #dbedfb;
	background-color: #b1d7f5;
}

/* Okno v posuvníku s generovým èíslem stránky */
input#strankovani {
	width: 10ex;
	text-align: center;
	font-size: 11px;
}

/* Pole definující prostor pro filtr */
div#filtr {
	background-color: #f3f3f3;	
	border: 1px solid #bfbfbf;
	width: 100%;
}
p#filtrp {
	margin: 0px;
	padding: 0px;
}

/* Obecný box zajišující odsazení od okrajù */
.obsahBoxu {
	padding: 8px;
}

/* Akce modulu */
#akce {
	background-color: #f1f4f8;	
	border: 1px solid #bfbfbf;
	margin-top: 0px;
	width: 100%;
}

#akce .akce {
	display: inline;
}

/* Pole definující prostor pro posuvník */
#posuvnik {
	background-color: #f1f4f8;	
	border: 1px solid #bfbfbf;
	margin-top: -1px;
	margin-bottom: 15px;
	width: 100%;
}

#posuvnik .info {
	margin-left: 20px;
}

/* Vnejsi box obalujici datovou cast (pod posuvnikem a filtrem, vpravo od menu) */
.boxA {
	width: 100%;
}

/* Box využívající celou šíøku stránky */
.boxA .boxA {
	width: 100%;
}

.boxA table {
	width: 100%;
}

.boxA table td {
	width: 49%;
}

/* Box využívající polovinu šíøe stránky */
.boxB {
	width: 49.99%;
	float: left;
}

.boxB table {
	width: 100%;
}

.boxB table td {
	width: 49%;
}

/* Hlavièka tabulky listu sloužící i pro zmìnu poøadí a parametru výpisu */
#list th {
	padding: 0px;
}
#list th a {
	position: relative; top: 0px; left: 0px;
	text-decoration: none;
	display: block;
	color: black;
	width: 100%;
	height: 20px;
	padding: 3px 20px 0px 20px;
	white-space: nowrap;
}

#list th a:hover {
	padding: 3px 20px 0px -20px;
	position: relative; top: 0px; left: 0px;
	background-color: #9DCCF2;
}

#list th a.ascend {
	background: url(../images/b_sipka.gif) no-repeat;	
}

#list th a.descend {
	background: url(../images/b_sipkadown.gif) no-repeat;	
}

#list th a:hover.ascend {
	position: relative; top: 0px; left: 0px;
	background-color: #9DCCF2;
}

#list th a:hover.descend {
	position: relative; top: 0px; left: 0px;
	background-color: #9DCCF2;
}

/* První buòka Listu s checkboxy */
#list .td1 {
	width: 20px;
	text-align: center;
}

/* Hlavní (druhá) buòka Listu s popisem položky */
#list .td2 {
	width: auto;
	padding: 0px;
}

#list .td2 a {
	position: relative; top: 0px; left: 0px;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 22px;
	padding: 4px 0px 0px 4px;
	overflow: hidden;
	line-height: 160%;
}

#list .td2 a:hover {
	position: relative; top: 0px; left: 0px;
/*	background-color: #f3f3f3;*/
}

/* Login / tabulka */


.subdetailbuttons button {
	float: left;
}

.subdetailbuttons {
	padding-left: 20px;
}

.detail-list {
	width: auto;
	padding: 0px;
}

.detail-list a {
	position: relative; top: 0px; left: 0px;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 22px;
	padding: 4px 0px 0px 4px;
	overflow: hidden;
	line-height: 160%;
}

.detail-list a:hover {
	position: relative; top: 0px; left: 0px;
	background-color: #f3f3f3;
	text-decoration: none;
}

/* Hlavièka tabulky listu v detailu sloužící i pro zmìnu poøadí a parametru výpisu */
.detail-list th {
	padding: 0px;
}

.detail-list th a {
	position: relative; top: 0px; left: 0px;
	text-decoration: none;
	display: block;
	color: black;
	width: 100%;
	height: 20px;
	padding: 3px 20px 0px 20px;
	white-space: nowrap;
}

.detail-list th a:hover {
	padding: 3px 20px 0px -20px;
	position: relative; top: 0px; left: 0px;
	background-color: #9DCCF2;
	width: auto;
}

.detail-list th a.ascend {
	background: url(../images/b_sipka.gif) no-repeat;	
}

.detail-list th a.descend {
	background: url(../images/b_sipkadown.gif) no-repeat;	
}

.detail-list th a:hover.ascend {
	position: relative; top: 0px; left: 0px;
	background-color: #9DCCF2;
}

.detail-list th a:hover.descend {
	position: relative; top: 0px; left: 0px;
	background-color: #9DCCF2;
}

/* První buòka Listu s checkboxy */
.detail-list .td1 {
	width: 20px;
	text-align: center;
}

/* Hlavní (druhá) buòka Listu s popisem položky */
.detail-list .td2 {
	width: auto;
	padding: 0px;
}

.detail-list .td2 a {
	position: relative; top: 0px; left: 0px;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 22px;
	padding: 4px 0px 0px 4px;
	overflow: hidden;
	line-height: 160%;
}

.detail-list .td2 a:hover {
	position: relative; top: 0px; left: 0px;
}

button.transparent {
	background-color: transparent;
	border: none;
}

.hint {
	cursor: help;
	border-bottom: 1px dashed; 
}

div.stat_graph {
	width: 480px;
	height: 250px;
	background-color: #fff;
	margin: 10px 10px 0px 0px;
	float: left;
	position: relative;
}

div.stat_graph_inner {
	border: 1px solid #000;
	background-color: #fff;
	padding: 10px;
}

div.stat_graph_strip {
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	height: 20px;
	background-color: #f3f3f3;
}

div.stat_graph_bstrip {
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	height: 20px;
	background-color: #f3f3f3;
}

div.stat_graph_bstrip_col {
	width: 33.3%;
	display: inline;
	padding-left: 5px;
	padding-top: 2px;
}

div.stat_graph_topmenu {
	width: 110px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	background-color: #bbb;
	display: inline;
	height: 20px;
	padding: 2px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #fdfdfd;
	margin-right: 3px;
	cursor:pointer;
/*	cursor:hand;*/
}

div.stat_graph_topmenu_chosen {
	background-color: #999;
}

div.stat_right {
	float: right;
	margin: 0px;
}

span.stat_graph_title {
	font-size: 17px;
	color: #003366;
}

span.stat_graph_date {
	margin-left: 10px;
	font-size: 14px;
	color: #000;
}

div.stat_graph_period {
	border: 1px solid #000;
	background-color: #f3f3f3;
	position: absolute;
	left: 370px;
	width: 110px;
	float: right;
	cursor: default;
	display: none;
}

div.stat_graph_period_menu_title {
	background-color: #bbb;
	height: 19px;
	padding: 2px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #fdfdfd;
	cursor:pointer;
	cursor:hand;
}

div.stat_graph_period_menu {
	border-top: 1px solid #000;
	height: 20px;
	margin: 0px;
	padding: 2px;
	background: #f3f3f3 url(../images/graph_sipka.gif) no-repeat 96px 4px;
}

div.stat_graph_period_menu_chosen {
	border-top: 1px solid #000;
	height: 20px;
	margin: 0px;
	padding: 2px;
	background: #ddd url(../images/graph_sipka.gif) no-repeat 96px 4px;
}

div.stat_graph_days {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #f3f3f3;
	position: absolute;
	width: 70px;
	left: 419px;
	top: 28px;
	float: right;
	z-index: 1;
	display: none;
}

div.stat_graph_months {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #f3f3f3;
	position: absolute;
	width: 70px;
	left: 419px;
	top: 48px;
	float: right;
	z-index: 1;
	display: none;
}

div.stat_graph_years {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #f3f3f3;
	position: absolute;
	width: 70px;
	left: 419px;
	top: 68px;
	float: right;
	z-index: 1;
	display: none;
}

div.stat_graph_period_submenu {
	border-top: 1px solid #000;
	height: 20px;
	margin: 0px;
	padding: 2px;
	background: #f3f3f3;
	cursor:pointer;
	cursor:hand;
	z-index: 1;
}

div.stat_graph_period_submenu_chosen {
	border-top: 1px solid #000;
	height: 20px;
	margin: 0px;
	padding: 2px;
	background: #ddd;
	cursor:pointer;
	cursor:hand;
	z-index: 1;
}

div.clearAll {
  border:0px none;
  margin:0;
  padding:0;
  height:0;
  line-height:0;
  font-size:0;
  line-height:0;
  clear:both;
}

iframe#action_iframe {
	visibility: hidden;
	position: absolute;
	left: 230px;
	top: 900px;
	width: 400px;
	height: 200px;
}
table.graph {
  border-left: 1px solid #ccc;
}
table.graph td.border-bottom {
  border-bottom: 1px solid #ccc;
}
/*-------------------------------------------------------------*/
/*zalozky*/

.tab, .tab_master {
	float: left;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
/*	font-weight: bold;*/
	height: 17px;
	line-height: 17px;
	margin: 0px;
    white-space: nowrap !important;
}
.tab span, .tab_master span {
	cursor: pointer !important;
}
.tab h3, .tab_master h3 {
	font-size: 11px;
/*	float: left;*/
	margin:0;
	background: none;
	padding: 0;
	font-weight: normal;
}
.tab a, .tab_master a {
    position:relative;
    float: left;
	display: block;
	text-decoration: none;
	color: #000;
	background: url('../images/zalozky/small2/tab-bg-off.gif') repeat-x;
	height: 17px;
	line-height: 17px;
	float: left;
	margin: 0 1px 0 0;
	padding: 0px 5px;
    white-space: nowrap !important;
}
html>body .tab, html>body .tab_master a {
	margin: 0 2px 0 0;
}
.tab a span.tab-text, .tab_master a span.tab_master-text {
/*	float: left;
	display: block;
	padding: 0 2px 0 2px;*/
	height: 17px;
	line-height: 17px;
}
html>body .tab a span.tab-text, .tab_master a span.tab_master-text {
	padding: 0 3px 0 3px;
}
.tab a span.tab-left, .tab span.tab-right, .tab_master a span.tab_master-left, .tab_master span.tab_master-right {
/*	display: block;
	float: left;
	width: 3px;
	height: 17px;*/
	position:absolute;
	width: 3px;
	height: 17px;
	padding: 0px 3px;
	line-height: 17px;
	height: 17px;
    white-space: nowrap !important;
}
/*.tab span.tab-right, .tab_master span.tab_master-right {
	width: 4px;
}*/
.tab a span.tab-left, .tab_master span.tab_master-left {
	background: url('../images/zalozky/small2/tab-left-off.gif') no-repeat;
	top: 0;
	left: 0;
}
.tab a span.tab-right, .tab_master span.tab_master-right {
	background: url('../images/zalozky/small2/tab-right-off.gif') no-repeat;
	top: 0;
	right: -7px;
}
.tab a:link, .tab a:visited, .tab a:active, .tab_master a:link,
.tab_master a:visited, .tab_master a:active {
	color: #000;
} 
.tab a.active, .tab a:link.active, .tab a:visited.active, .tab a:active.active,
.tab_master a.active, .tab_master a:link.active, .tab_master a:visited.active, .tab_master a:active.active {
	background: url('../images/zalozky/small2/tab-bg-on.gif') repeat-x;
	color: #000;
	text-decoration: none;
    height: 17px;
/*    border-bottom: 1px solid #fff;*/
}
.tab a:hover, .tab_master a:hover {
	background: url('../images/zalozky/small2/tab-bg-on-hover.gif') repeat-x;
	color: #000;
	text-decoration: none;
}
.tab a:hover span.tab-left, .tab a.active span.tab-left,
.tab_master a:hover span.tab_master-left, .tab_master a.active span.tab_master-left {
	background: url('../images/zalozky/small2/tab-left-on.gif') no-repeat;
}
.tab a:hover span.tab-right, .tab a.active span.tab-right,
.tab_master a:hover span.tab_master-right, .tab_master a.active span.tab_master-right {
	background: url('../images/zalozky/small2/tab-right-on.gif') no-repeat;
}
.tab a.active span.tab-left, .tab a.active span.tab-right,
.tab_master a.active span.tab_master-left, .tab_master a.active span.tab_master-right {
    height: 17px;
}
/*-------------------------------------------------------------*/
/*master zalozky*/

/*.tab_master {
	float: left;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	height: 17px;
	line-height: 17px;
	margin: 0 0px 0px 0;
}
.tab_master span {
	cursor: pointer !important;
}
.tab_master h3 {
	font-size: 11px;
	float: left;
	font-weight: normal;
	margin:0;
	background: none;
	padding: 0;
}
.tab_master a {
	display: block;
	text-decoration: none;
	color: #000;
	background: url('../images/zalozky/small2/tab-bg-off.gif') repeat-x;
	height: 17px;
	line-height: 10px;
	float: left;
	margin: 0 0px 0 0;
}
html>body .tab_master a {
	line-height: 17px;
}
.tab_master a span.tab_master-text {
	float: left;
	display: block;
	padding: 4px 2px 0 2px;
}
html>body .tab_master a span.tab_master-text {
	padding: 0 3px 0 3px;
}
.tab_master a span.tab_master-left, .tab_master span.tab_master-right {
	display: block;
	float: left;
	width: 3px;
	height: 17px;
}
.tab_master span.tab_master-right {
	width: 4px;
}
.tab_master a span.tab_master-left {
	background: url('../images/zalozky/small2/tab-left-off.gif') no-repeat;
}
.tab_master a span.tab_master-right {
	background: url('../images/zalozky/small2/tab-right-off.gif') no-repeat;
}
.tab_master a:link, .tab_master a:visited, .tab_master a:active{
	color: #000;
} 
.tab_master a.active, .tab_master a:link.active, .tab_master a:visited.active, .tab_master a:active.active {
	background: url('../images/zalozky/small2/tab-bg-on.gif') repeat-x;
	color: #000;
	text-decoration: none;
    height: 18px;
}
.tab_master a:hover {
	background: url('../images/zalozky/small2/tab-bg-on-hover.gif') repeat-x;
	color: #000;
	text-decoration: none;
}
.tab_master a:hover span.tab_master-left, .tab_master a.active span.tab_master-left {
	background: url('../images/zalozky/small2/tab-left-on.gif') no-repeat;
}
.tab_master a:hover span.tab_master-right, .tab_master a.active span.tab_master-right {
	background: url('../images/zalozky/small2/tab-right-on.gif') no-repeat;
}
.tab_master a.active span.tab_master-left, .tab_master a.active span.tab_master-right {
    height: 18px;
}*/
/*-------------------------------------------------------------*/

/********************  NEW ***********************/
#content {
	height:100%;
	width: 100%;
	font-size: 0.8em;
	clear: both;
	}
#zalozka_border, #zalozka_border2, #zalozka_border3{
	border: 1px solid #919b9c;
	margin: 0;
	padding: 10px 10px 10px 10px;
}
#zalozka_border form {
    padding: 0;
    margin: 0;
}
/*#zalozka_border, #zalozka_border2, #zalozka_border3{
	padding: 0px 10px 10px 10px;
}*/
#zalozka_border {background-color: #fcfcfd;}
#zalozka_border2{background-color: #fcfcfd;}
#zalozka_border3{background-color: #fcfcfd;}

#zalozky {
	margin-bottom: 0px;
/*	position: relative;
	top: 1px;*/
}
#global-menu{
	border: 0px solid #919b9c;
	padding: 0px;
	margin: 0px;
}
#icons_menu{
	border: 1px solid #aca899;
	padding: 8px;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
/*	background-color: #FEF7ED;*/
/*	background: #ece9d8 url('../images/bg-icons.gif') top left repeat-x;*/
    background-color: #ece9d8;
}
label{
	padding: 0px;
	margin: 0px;
}
#label_text{
	float: left;
	width: 20%;
/*	vertical-align: middle;*/
	padding-top:3px;
	padding-bottom: 5px;
	margin: 0;
}
legend{
/*    font-size: 0.95em;*/
	font-weight: bold;
	color: black;
}
/*fieldset input{
	background-color: #FEF7ED;
	border: 0px;
	color: black;
}*/
#zalozka_border fieldset, #welcome fieldset{
    font-size: 1em;
	border: 1px solid #aca899;
	padding: 5px;
	margin: 0 0 8px 0;
/*	background-color: #FEF7ED;*/
	background-color: #ece9d8;/*FEF7ED*/
/*	line-height: 0.75em;*/
}
#welcome fieldset {
  margin-bottom: 10px;
}
#welcome fieldset legend {
    font-size: 1em;
  padding: 0 3px 0 3px;
}
#welcome a {
  text-decoration: none;
}
#welcome h4 {
  margin: 0;
}
fieldset.filter {
    font-size: 11px !important;
	line-height: 0.75em;
}
#zalozka_border fieldset legend{
    font-size: 1em;
    padding: 3px; 
}
#content_footer{
	margin-left: -2px;
	background-color: #F79912;
	color: white;
	font-weight: bold;
	border-bottom: 1px solid #1b80d1;
	border-left: 1px solid #dbedfb;
	border-right: 1px solid #1b80d1;
	border-top: 1px solid #dbedfb;
	width: 100%;
	margin-left: 1px;

}
table.tab_oe tr.line{
/*	background-color: #FEF7ED;*/
	background-color: #FEF7ED;
}
table.tab_oe tr.lineover{
	background-color: #E6EDF2;
}
#content_footer button{
	background-color: #F79912;
	border: 0px;
}
#content_footer a:hover{
	color: #4A6366;
}
.cleaner {
	visibility: hidden;
	clear:both;
	margin:0px;
	padding:0px;
	height:0px;
	font-size:0px;
	line-height:0px;
}
.orangepro_logo{
	border: 1px solid #f1f4f8;
	padding: 8px;
	font-size: 0.9em;
	color: #000;
	text-align: center;
	background-color: #fff;
}
.auto_box {
	height:100px;
	overflow:auto;
	border: 1px inset gray;
	background-color: #fff;
}

/*-------------------------------------------------------------*/
#page_login {
	position: relative;
	top: 0; 
	left: 0;
	margin: 0px 20px 0px 20px;
	text-align:center;
	background-color: white;
	padding-top: 40px;
}
.error {
    text-align: center;
}
.error h3 {
    color: #f00;
    font-size: 1.3em;
}
/*shadow login*/

.shadow_border{
	width: 580px;
	height: 330px;
	margin: 0px auto 0px auto;
}
.shadow_border .top_shadow{
	background-image: url("../images/login_shadow/top.jpg");
	background-repeat: repeat-x;
	height: 39px;
}
.shadow_border .bottom_shadow{
	background-image: url("../images/login_shadow/bottom.jpg");
	background-repeat: repeat-x;
	height: 41px;
}
.shadow_border .left_shadow{
	background-image: url("../images/login_shadow/left.jpg");
	background-repeat: repeat-y;
	padding-left: 39px;
}
.shadow_border .right_shadow{
	background-image: url("../images/login_shadow/right.jpg");
	background-repeat: repeat-y;
	background-position: right;
	padding-right: 41px;
}
.shadow_border .lt_corner{
	background-image: url("../images/login_shadow/lt_corner.jpg");
	width: 39px;
	height: 39px;
	background-position: bottom right;
	background-repeat: no-repeat;
	float: left;
}
.shadow_border .rt_corner{
	background-image: url("../images/login_shadow/rt_corner.jpg");
	width: 41px;
	height: 39px;
	background-position: bottom left;
	background-repeat: no-repeat;
	float:right;
}
.shadow_border .bl_corner{
	background-image: url("../images/login_shadow/bl_corner.jpg");
	width: 39px;
	height: 41px;
	background-position: top right;
	background-repeat: no-repeat;
	float: left;
}
.shadow_border .br_corner{
	background-image: url("../images/login_shadow/br_corner.jpg");
	width: 41px;
	height: 41px;
	background-position: top left;
	background-repeat: no-repeat;
	float: right;
}
.location {
  font-weight: bold;
  font-style:italic;
  font-size: 0.95em;
  margin-top: 7px;
  margin-bottom: 5px;
}
/*------------------------------------------------------------------------*/
/*---------- ORDER DETAIL ---------*/
#zalozka_border .order-detail fieldset {
  border:none;
  background: none;
  margin: 0px;
  padding: 0px;
}
#zalozka_border .order-detail table th {
  background: none;
  color: #000;
}
.order-detail {
	width: 97%;
	padding: 0;
	margin: 0;
}
.order-detail_in {
	border: 1px solid #000;
}
.order-detail legend {
    color: #4b4b4b;
    padding-top: 5px;
}
.order-detail fieldset {
	padding: 0px 5px;
}
.order-detail-left {
	width: 45%;
	float: left;
	padding-left: 5px;
}
.order-detail-right {
	border-left: 1px solid #000;
	margin: 0 0 0 45%;
	padding-left: 5px;
	padding-bottom: 7px;
}
.order-detail-item {
	border-top: 1px solid #000;
	padding-left: 5px;
}
.order-detail-item-table {
	clear: left;
	padding: 0;
	margin: 0;
}
.order-detail-item-table table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	font-size: 11px;
}
.order-detail-item-table .first {
    border-left: none;
}
.order-detail-item-table .last {
    border-right: none;
}
.order-detail-item-table td, .order-detail-item-table th {
	/*border: 1px solid #000;*/
	padding-left: 3px;
}
.order-detail-item-table .fir td {
	border: 1px solid #000;
	border-bottom: none;
}
.order-detail-item-table .ser td {
	border: 1px solid #000;
	border-top: none;
}
.order-detail-item-table {
	border-bottom: 3px double #000;
	padding-bottom: 4px;
}
.order-detail-item-table td.right {
    text-align: right;
}
.order-detail-item-table .ser .born {
	border-right: none;
	border-left: none;
}
.order-detail p.row {
	margin: 0;
	clear: left;
}
.order-detail p.row span {
	display: block;
	width: 115px;
	padding: 0;
	float: left;
}
table.supertot {
	border-collapse: collapse;
	width: 60%;
	float: right;
	margin-top: 23px;
}
table.supertot td {
	padding: 5px 10px;
}
.supertotal td {
	border: 1px solid #000;
	font-size: 1.3em;
	font-weight: bold;
}
.alic {
	text-align:center !important;
}
.alir {
	text-align: right !important;
}
.order-summary {
	width: 98%;
	height: 10em;
	margin-bottom: 5px;
	border-top: 1px solid #000;
}
html>body .order-summary {
	width: 99%;
    min-height: 10em;
    height: auto;
}
.order-summary p.row {
    padding-left: 10px;
}
html>body .order-summary p.row {
    padding-left: 4px;
}
.order-detail-item .right {
	float: right;
	margin-right: 5px;
}
.order-detail-summary {
	margin-left: -5px;
	margin-right: 5px;
}
.cart_summary {
    border-collapse: collapse;
    border-spacing: 0;
}
.cart_summary td {
    border: none;
}
.fin_price {
	font-size: 1.1em;
}
.order_back {
	padding-right: 20px;
}
.order_pozn {
	clear: both;
	padding-top: 20px;
	font-size: 11px;
}
.bold {
	font-weight: bold !important;
}
.no_border {
    border: none !important;
}
.no_rborder {
	border-right: none !important;
}
.no_lborder {
	border-left: none !important;
}
.print {
  font-size: 0.9em;
  text-align: right;
  margin-bottom: 5px;
}
.print a {
  position: relative;
  top: 3px;
}
.print_button {
  width: 16px;
  height: 16px;
  border: none;
  background: none;
  background: url("../../../../images/icons/print2.gif") 50% 50% no-repeat;
	cursor: pointer !important;
}
.bad_login {
  text-align: center;
  font-weight: bold;
  color: #f00;
}
#help-content {
    border: 1px solid #d0eaf8;
    padding: 5px;    
}
#help-content #nohelp {
    text-align: center;
}
#help-content h1 {
	font-size: 1.3em;
	color: #fff;
	padding: 1px;
	font-weight: normal;
	margin: 0 0 5px 0;
	background-color: #5386ef;
}
#help-content h2, #help-content h3 {
	font-size: 1.1em;
	color: #000;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 1px;
	background-color: #acacff;/*d0eaf8*/
}
#help-content h3 {
	font-size: 1.0em;
	background-color: #d0eaf8;/*d0eaf8*/
}
#help-content ul li {
/*    list-style-type: none;*/
    list-style-image: url(../images/li-arrow.gif);
}
a.button-new {
    font-size: 0.8em;
/*    background-color: #ece9d8;*/
    color: #00f;
    padding: 3px 5px 3px 5px;
    margin: 3px 3px 5px 4px;
}
a.button-new:hover {
    color: #f00;
}
#popup-content {
    font-size: 0.8em;
}
.warning {
    background-color: red;
    color: #fff;
    padding: 5px;
    font-weight: bold;
}
/*---------- end of ORDER DETAIL ---------*/
.menu {
/*    padding-top: 20px;*/
}
.menu_in {
    height: 250px;
    overflow: auto;
}
.menu h2{
	border-top: 1px solid #ece9d8;
	border-right: 1px solid #cdcabb;
	border-left: 1px solid #cdcabb;
	border-bottom: 1px solid #cdcabb;
	background: #ece9d8 url('../images/bg-th.gif') bottom left repeat-x;
	color: #000;
	font-size:1.1em;
	font-weight:bold;
	padding-left: 5px;
	/*margin-top:10px;*/
	margin-top: 11px;
	margin-bottom: 2px;
	padding: 3px;
	}
html>body .menu h2{
	margin-top: 0px;
}
.menu a.linkos {
    display: block;
    float: left;
    width: auto;
    height: 14px;
    padding-top: 2px;
/*    font-size: 0.8em;*/
    text-decoration: none;
    margin-left: 5px;
    border: none;
}
.menu a.linkos:hover {
    background: none !important;
    text-decoration: underline;
    color: #055069;
}
.c1, .c2, .c3, .c4, .pl1, .pl2, .mi1, .mi2, .em, .em2 {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    line-height: 0em;
}
.c1 {
    width: 11px;
    background-image: url('../images/c1.gif');
}
.c2 {
    background-image: url('../images/c2.gif');
}
.c3 {
    background-image: url('../images/c3.gif');
}
.c4 {
    width: 17px;
    background-image: url('../images/c4.gif');
}
.pl1 {
    background-image: url('../images/plus3.gif');
}
.pl2 {
    width: 17px;
    background-image: url('../images/plus2.gif');
}
.mi1 {
    width: 17px;
    background-image: url('../images/minus3.gif');
}
.mi2 {
    width: 17px;
    background-image: url('../images/minus2.gif');
}
.em {
    width: 11px;
    background-image: url('../images/empty.gif');
}
.em2 {
    width: 16px;
    background-image: url('../images/empty2.gif');
}
.cp_window {
    width: 130px;
    height: 143px;
    border: 1px solid #919b9c;
    display: none;
    position: absolute;
    left: -500px;
    top: 0px;
    z-index: 100;
    background-color: white;
}
html>body .cp_window {
    height: 144px;
}
iframe.bitch {
    width: 314px;
    height: 213px;
}
html>body iframe.bitch {
    width: 304px;
}
.cp_window2 {
    width: 310px;
    height: 217px;
    display: block;
    border: 1px solid #919b9c;
    font-size: 0.9em;
}
html>body .cp_window2 {
    min-height: 217px;
    height: auto;
}
.cp_content2 {
    padding: 10px;
}
.cp_window2 table {
    border-collapse: collapse;
    margin: 5px 0px;
}
.cp_window2 table th {
    border-right: 1px solid #fff;
    padding: 3px 4px;
}
.cp_window2 table td {
    border: 1px solid #ece9d8;
    text-align:center;
    padding: 0;
}
.cp_window2 table td a, .cp_window2 table td a:visited, .cp_window2 table td a:hover {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 2px;
    color: #000;
}
.cp_window2 table td a:hover,
.cp_window2 table td.selected a, .cp_window2 table td.selected a:visited, .cp_window2 table td.selected a:hover {
    background-color: #cdcabb;
}
.cp_window2 .date {
    padding-top: 10px;
}
.cp_window2 .date input {
    font-size: 0.9em;
}
.cp_window2 table.months {
    margin: 0;
}
.cp_window2 table.months th {
    background: none;
    background-color: #fff;
    border: none !important;
    padding-right: 15px;
}
.cp_window2 table.months a, .cp_window2 table.months a:visited, .cp_window2 table.months a:hover {
    width: 10px;
    height: 14px;
    text-decoration: none;
    line-height: 14px;
    font-size: 1.2em;
    padding: 0px 3px;
    background: url('../images/widlous-calendar-left.gif') top left no-repeat !important;
}
.cp_window2 table.months a.calendar_right, .cp_window2 table.months a.calendar_right:visited,
.cp_window2 table.months a.calendar_right:hover {
    background: url('../images/widlous-calendar-right.gif') top left no-repeat !important;
}
.cp_header {
    position:relative;
    background-color: #ece9d8;
    border-bottom: 1px solid #919b9c;
    height: 15px;
    overflow: hidden;
}
.krizek {
    position:absolute;
    right: 1px;
    top: 1px;
    width: 12px;
    height: 12px;
    cursor: pointer !important;
    background: url('../../../apps/color/krizek2.gif') top left no-repeat;
}
.cp_content {
    width: 128px;
    height: 128px;
    background: #fff url('../../../apps/color/color-model2.png') top left no-repeat;
}
.cp_zabarvi {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 3px;
}
.readonly {
    border: 1px solid #7f9db9;
    background-color: #ebebe4;
}
#options {
    display: none;
}
.link16sm, .link16 {
    font-size: 1em;
    height: 16px;
    line-height: 16px !important;
    padding: 4px 0px 3px 18px;  
}
.link16 {
    padding: 1px 0px 1px 18px; 
    margin-right: 5px; 
}
.l_edit {
    background: url('../images/b_edit.png') 0% 50% no-repeat;
}
.l_new {
    background: url('../images/new.gif') 0% 50% no-repeat;
}
.l_precen {
    background: url('../images/preceneni.gif') 0% 50% no-repeat;
}
.l_prirad {
    background: url('../images/prirazeni.gif') 0% 50% no-repeat;
}
.l_prepocitat {
    background: url('../images/prepocitat.gif') 0% 50% no-repeat;
}
.but {
    background: none;
    border: none;
    color: #00f;
    font-size: 1.1em;
    text-decoration: underline !important;
    padding-left: 0px;
    cursor: pointer !important;
	font-family: Tahoma, Verdana, "Geneva CE", lucida, sans-serif;
}
html>body .but {
    padding-left: 15px;
}
.but:hover {
    color: #f00;
}
.export {
    background: url('../images/export.gif') 0% 50% no-repeat;
}
.smaz {
    background: url('../images/smazat_stare.gif') 0% 50% no-repeat;
}
.trvy {
    position:relative;
    top: -4px;
}
.help_but {
    width: 16px;
    height: 16px;
    border: none;
    background: url('../images/help_index.png') top left no-repeat;
    margin-left: 5px;
    cursor: pointer !important;
}
.help_but2 {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer !important;
    color: #000;
/*    background: url('../images/widlous-dot.gif') bottom left repeat-x;*/
}
/*.help_button{
	padding: 4px;
	background-color: #ffea99;
	border-left: 2px solid #e2eaf2;	
	border-bottom: 2px solid #e2eaf2;
	width: 45px;
	height: 45px;
	position: absolute;
	bottom: -45px;
	right: 0px;
}*/
/***** LOGIN *****/
#login_dialog {
	text-align: center;
	padding-top: 20px;
}
#login {
	width: 500px;
	height: 330px;
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
	color: #d7aaab;
	font-size: 13px;
	background: #881a1d url('../images/login/login-bg.gif') repeat-x;
	font-family: Arial, Tahoma, Verdana;
}
#login a, #login a:visited, #login a:hover {
	color: #d7aaab;
}
#login_in {
	height: 330px;
	background: url('../images/login/login-left.jpg') no-repeat;
}
#login_in_in {
	height: 297px;
	padding: 37px 30px 0px 30px;
	background: url('../images/login/login-right.jpg') top right no-repeat;
}
#login_header {
	background: url('../images/login/header-line.gif') bottom left repeat-x;
	padding-bottom: 6px;
	margin-bottom: 22px;
}
#login_logo {
}
table.login{
	border-collapse: collapse;
}
table.login td {
	padding-bottom: 4px;
}
table.login td.fic {
	padding-right: 10px;
	text-align: right;
}
table.login input {
	width: 170px;
	height: 17px;
}
.bbut {
	padding-top: 6px;
}
#loginform{
	width: 200px;
	margin: 0px auto 0px auto;
}
#login .butt {
	color: #d7aaab;
	text-align:center;
	width: 103px;
	height: 31px;
	padding-bottom: 3px;
	border: none;
	cursor: pointer !important;
	background: #701618 url('../images/login/login-but.gif') no-repeat;
}
#login .footer {
	margin-top: 30px;
	font-size: 11px;
}
#login .copy {
	float: right;
}
.beta {
	color: #fff;
}
.version {
	position:absolute;
	top: 12px;
	left: 258px;
	width: 200px;
	color: #d7aaab;
	font-size: 11px;
}
.err_dial .login_form {
	color: #fff;
	font-weight: bold;
	padding: 20px 0px 50px 0px;
}
.err_dial .pristup {
	text-align:center;
	padding-top: 10px;
}
.err_dial .butt {
	width: 150px !important;
	padding-left: 20px;
	background: #701618 url('../images/login/login-but2.gif') no-repeat !important;
}
/***** END LOGIN *****/
/***** 'EDITOR' SLOUPCU *****/
.cols_table table {
	width: 442px;
	border-collapse: collapse;
}
.cols_table table th {
	text-align:center;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 10px;
	border: none !important;
	background: #fff !important;
	color: #000 !important;
}
.cols_table table td {
	border: 1px solid #ccc;
	padding: 0px 0px;
	vertical-align: top;
	width: 50% !important;
}
.citem {
	height: 20px;
	line-height: 20px;
	color: #666;
	background-color: #eaeaea;
	border-bottom: 1px solid #fff;
	width: 162px;
	width: 217px;
	padding: 0px 4px;
	font-size: 11px;
}
.cols_table table td.td1 .citem {
	color: #000;
	background: #ece9d8 url('../images/bg-th.gif') bottom left repeat-x;
}
.none_sw {
	color: #888 !important;
	background-color: #f6f4e7 !important;
}
.cols_table table td.td2 .none_sw {
}
.cols_table .info_tit {
	padding-top: 5px;
}
.cols_table .info_tit span {
	cursor: pointer !important;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: underline;
}
.cols_table .info_tit button {
	font-size: 11px;
	float: right;
}
.cols_table .info {
	font-size: 10px;
	background-color: #eee;
	padding: 2px 0px;
	margin-top: 8px;
}
.cross {
	width: 21px;
	height: 21px;
	background: url('../images/stop.png') no-repeat;
}
.loader {
	width: 16px;
	height: 16px;
	background: url('../images/loader.gif') no-repeat;
}
button.but_reset {
	background: none;
	border: none;
	cursor: pointer !important;
}
/***** END 'EDITOR' SLOUPCU *****/
/**** CALENDAR ****/
.calendar .up_box {
	background-color: #aca899;
	border-bottom: 1px solid #ece9d8;
}
.calendar table th {
	text-align:center;
	background-color: #aca899;
}
.calendar table td {
	border: 1px solid #ece9d8;
}
.calendar .cell_over {
	background-color: #f3f1e3;
}
.calendar .day {
	color: #333;
	background-color: #ece9d8;
}
.calendar .down_box {
	background-color: #aca899;
}
.calendar .down_box input {
	border: 1px solid #ece9d8; 
}
.calendar .now {
	color: #333;
	background-color: #ece9d8;
}
/**** END CALENDAR ****/
.tab_oe .it {
	width: 98%;
}
.helpos {
	float: right;
	padding: 4px 10px 0px 0px;
}
.helpos .help_but {
	width: 16px;
	height: 16px;
	background: url('../images/help_index.png') no-repeat;
	cursor: pointer !important;
	border: none;
}
.calend {
	cursor: pointer !important;
}
.sytable td, .sytable th {
    padding: 5px 10px 5px 10px !important;
}

.categoryList {
	margin: 0 0 10px -15px;
}
.categoryList li {
	list-style: none;
	padding-left: 15px;
}
.categoryList ul {
	margin: 0;
	padding: 0;
}
.categoryList li div:hover {
	background-color: #eee;
}
.categoryList .cur {
	cursor: pointer;
}
.categoryList .plusminus {
	padding-left: 12px;
	background: url('../images/minus.gif') no-repeat 0 2px;
	cursor: pointer;
}
.categoryList .hide {
	background-image: url('../images/plus.gif');
}
.categoryList h4 {
	padding-left: 15px;
	margin: 0 0 5px 0;
}
.categoryList a > img {
	padding-left: 5px;
}

/* Fix pro lightbox s obrázky */
.ceifdialog {
	position: fixed !important;
	top: 45px !important;
}

/* V7 - NEW Tabs */
.tab-control {
	display: table;
	width: 100%;
}



.tab-control__breadcrumb {
	display: table-header-group;
}

.tab-control__tab {
	display: table-footer-group;
}
